<h1 class="title" matDialogTitle>
  <img class="weather-icon" mat-card-avatar src="{{ weather?.icon }}" alt="Weather Icon" />
  {{ weather?.name }}
</h1>
<div class="divider modal-divider"></div>
<mat-dialog-content mat-dialog-content class="weather-dialog">
  <div class="dialog-line">
    <label>Name:</label>
    <span>{{ weather?.name }}</span>
  </div>
  <div class="dialog-line">
    <label>Location:</label>
    <span>
      {{ weather?.label_location?.latitude }} <small><em>lat</em></small>
      {{ weather?.label_location?.longitude }} <small><em>long</em></small>
    </span>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button class="action-button weather-button" mat-raised-button>
    Follow Entity
  </button>
  <button class="action-button" matDialogClose mat-raised-button>Close</button>
</mat-dialog-actions>
